 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Jake P Schneider has been designing websites and graphics from a young age.  In High School he started his first web design company, delivering professional websites to local businesses and schools.</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're an individual artist or designer that needs to showcase your work, or a company looking to attract clients, contact Jake to fill all of your web service needs.</p>
                </div>
            </div>
        </div>
    </section>
