<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Jake got his start with audio engineering in high school, operating a mobile studio recording local bands and talent.  For the past 10 years he has been collaborating with artists creating original instrumentals and beats.  Throughout school he has worked multiple freelance jobs in live sound, ultimately maintaining a prized position operating Front-of-House for UC San Diego's very own tech services.  Now that he has earned his degrees, he is looking for freelance opportunities in both music production and audio engineering fields.</p>
</div><!--//summary-->
</section><!--//section-->
