
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container-fluid">
            <div class="row">
                {% for post in site.posts %}
                    <div class="col-sm-6 portfolio-item  nopadding">
                        <a href="{{ post.permalink }}" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    {{ post.title }}
                                </div>
                            </div>
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>